// bower:scss
// endbower

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;
}

.todolist {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    border: 2px solid black;
    
}

.todoitem {
    width: 800px;
    height: 75px;
    border-bottom: 2px solid black;
}

.complete {
    padding: 0px;
    margin: 0 auto;
    float: left;
    width: 100px;
    height: 50px;
    margin-top: 12px
}

.remove {
    padding: 0px;
    margin: 0 auto;
    float: right;
    width: 100px;
    height: 50px;
    margin-top: 12px;
}

.addtodo {
    height: 50px;
    width: 580px;
    position: relative;
    left: 7px;
    margin-top: 9px;
    font-size: 20px;
    text-align: center;

}

.todo {
    width: 400px;
    height: 50px;
    margin: 0 auto;
    h1 {
    text-align: center;
    font-family: fantasy;
    font-size: 75px;
    margin-top: 0px;
}
}